<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Информационная система школ</title>
    <script>
        function selectSchool(schoolId) {
            if(selectSchool != "") {
                window.location.href = '/school?schoolId=' + schoolId;
            }
        }
    </script>
</head>
<body>
<table class="center">
    <tr>
        <td><a href="edudepnews">Новости отдела образования</a></td>
        <td>
            <select style="width: 100%"
                    onchange="selectSchool(this.value)">
                <option value=""> Выберите № школы </option>
                <option th:each="school:${schools}"
                th:value="${school.id}"
                th:text="${school.number}"/>
            </select>
        </td>
        <td style="color: red">Вход/Регистрация</td>
    </tr>
    <tr>
       <td colspan="3">
           Выберите школу из списка
       </td>
    </tr>
</table>
</body>
</html>